.toolsCatalog {
  background-color: #F5F5F5;
  padding: 0 0 50px 0;
  /* Убрали padding-bottom 50px, можно настроить по необходимости */
  min-height: 100vh;
  /* Минимальная высота всей страницы */
  display: flex;
  flex-direction: column;
}

.toolsCatalogProductImage {
  margin-bottom: 20px;
}

.toolsCatalogContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
  /* Позволяет контейнеру растягиваться */
}

.toolsCatalogTitle {
  margin-top: 150px;
}

.toolsCatalogProduct {
  width: calc(100% / 3 - 60px);
  height: 100%;
  padding: 20px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  transition: box-shadow .2s ease;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    box-shadow: 0px 1px 5px rgb(149, 149, 149);

    .toolsCatalogProductImage img {
      transform: scale(1.1);
    }
  }
}

.toolsCatalogProductImage {
  width: 100%;
  height: 100%;
  /* Фиксированная высота для изображений */
  max-height: 250px;
  overflow: hidden;
}

.toolsCatalogProductImage img {
  width: 100%;
  max-height: 250px;
  transition: all .3s ease;
  object-fit: contain;
  /* Изображения не обрезаются */
}

.toolsCatalogProductText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.toolsCatalogProductControls {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.toolsCatalogProductPrice {
  color: #405AFF;
  font-size: 24px;
}

@media (max-width: 991px) {
  .toolsCatalogProduct {
    width: calc(100% / 2 - 40px);
  }

  .toolsCatalogProductImage {
    img {
      max-width: 200px;
    }
  }
}

@media (max-width: 768px) {
  .toolsCatalogProduct {
    width: 100%;
    padding: 15px;
  }

  .toolsCatalogTitle {
    margin-top: 100px;
    /* Уменьшаем отступ на мобильных устройствах */
  }
}